@keyframes fadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.Pokecard {
  display: inline-block;
  width: 8em;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 5px 4px 10px 3px rgba(15, 13, 171, 0.5);
  text-align: center;
  padding: 1em;
  margin: 1em;
  transition: transform 0.3s ease-in-out;
  opacity: 0; /* Start with hidden cards */
}

.Pokecard img {
  width: 100px;
  height: 100px;
}

.Pokedex-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Pokecard-title {
  color: #effaff;
  font-weight: bold;
  text-shadow: -1px -1px 0px rgb(0, 0, 0), 1px 3px 5px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0), 1px 1px 0px rgb(0, 0, 0);
}

.Pokecard-data {
  color: #effaff;
  font-weight: bold;
  text-shadow: -1px -1px 0px rgb(0, 0, 0), 1px -1px 1px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0), 1px 1px 0px rgb(0, 0, 0);
  font-size: 85%;
}
