.Pokedex-header {
  font-size: 36px;
  padding: 10px;
  margin-left: 310px;
  color: white; /* text color */
  text-shadow: -1px -1px 0px rgb(0, 0, 0), 4px 2px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0);
}
